# Dependencies
node_modules/
venv/
__pycache__/

# Secrets
.env
credentials.json
authcheck.json

# IDE and OS files
.idea/
.DS_Store
*.iml
.ipynb_checkpoints/

#Node modules
node_modules/

**/._.DS_Store
**/..DS_Store
.DS_Store
